//@import "../vendor/pico/scss/pico.fluid.classless.scss";

$medium: 50rem;
$large: 90rem;

$clr-dark: white;
$clr-light: black;
$spacer: 2rem;

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    border: none;
    outline: none;
}

* {
    transition: all 0.2 ease-in-out;
}

:root {
    color-scheme: dark;
}

::selection,
::-moz-selection {
    background-color: $clr-dark;
    color: $clr-light;
}


p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

:root, body {
    min-height: 100%;
    width: 100%;
    font-family: sans;
}

:root {
    scrollbar-color: $clr-dark $clr-light;
    scrollbar-width: medium;
    scroll-behavior: smooth;


}

body {
    line-height: 1.5;
    //overflow-x: hidden;
    background-color: $clr-light;
    color: $clr-dark;
}

p 

input, textarea, button {
    color: $clr-dark;
    background-color: $clr-light;
}

button, input, textarea {
    outline: none;
}

button {
    border: 1px solid $clr-dark;
}

input, textarea {
    border: 1px solid $clr-light;
    border-bottom: 1px solid $clr-dark;
}

input, textarea, button {
    &:hover, &:focus {
        border: 1px solid $clr-light;
        color: $clr-light;
        background-color: $clr-dark;
    }
}

input, button, textarea, select {
    font: inherit;
    width: fit-content;
}

th, td {
    vertical-align:top
}

.hide {
    display:none;
}

.click-copy {
    user-select: all;
}

.collapse {
    // TODO
    //display: none;
}

.page {
    min-height: 100vh;
}

.page {
    object-fit: contain;
}

.side {
    margin: 0 auto;
}

.partitions {
    &:first-child {
        padding-top: 0;
        margin-top: 0;
    }
    &:last-child {
        padding-bottom: 0;
        margin-bottom: 0;
    }
}

.partition {
    min-height: 100%;
}

.ingredients-list {
    cursor: default;
}

.ingredient {
    user-select: all;
}

.ingredient:hover
{
    background-color: $clr-dark;
    color: $clr-light;
}

.media {
    width: 100%;
    max-height: 10rem;

    picture {
        display: block;
        width: 33.333%;
        height: auto;

        img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }   
    }
}

#random_box {
    header {
        label {
            display: none;
        }
    }

    .side.right {
        h2 {
            text-align: center;
        }
    }

    .product, .side.left {
        padding: $spacer;
    }

    ul, ul li {
        list-style: none;
        margin-left: 0;
        padding-left: 0;
    }

    .side.left {
        min-height: 100vh;
    }

    .side.right {
        label {
            display: block;
        }
    }

    .profile {
        display: block;

        th {
            display: none;
        }
    }

    > .profile {
        td {
            display: block;
        }
    }
}

#cart {
    text-align: left;
    min-height: 100vh;
    position: relative;
    min-height: 100vh;
    display: block;
    padding: $spacer;

    background-color: $clr-light;
    color: $clr-dark;

    table, tbody, thead {
        width: 100%;
        text-align: left
    }

    tbody tr {
        &:nth-child(odd) {
            color: $clr-dark;
            background-color: $clr-light;
        }
        &:nth-child(even) {
            color: $clr-light;
            background-color: $clr-dark;
        }
    }

    table, td, th, thead, tbody {
        border: none;
        padding: 0;
        border-collapse: collapse;
    }

    th {
        font-size: 1rem;
    }

    td {
        font-size: 1rem;
    }

    th, td {
        padding:
            calc($spacer / 8)
            calc($spacer / 4);
    }

    .price, .amount {
        text-align: right;
    }

    p, table,
    h1, h2, h3, h4,
    {
        padding-bottom: $spacer;
    }

    thead {
        font-weight: bold;
    }

    .product, .products {
        text-align: left;
    }

    button[type="submit"] {

    }

    table {
        width: auto;
    }

    summary {
        table {
            width: auto;
        }
        thead {
            display: none;
        }
    }
}

@media screen and (min-width: $medium) {
    #cart table {
        display: table;
    }

    html {
        scroll-snap-type: y proximity;
    }

    .side.right {
        h2 {
            text-align: center;
            float: right;
        }
    }
    
    .products {
        scroll-snap-type: y proximity;
    }
    
    .page, .randomize {
        scroll-snap-align: start;
    }

    #random_box {
        .product
        //.profile, .nutrition, .ingredients
        {
            scroll-snap-align: start;
        }
    }

    .side.right .center,
    .side.left {
        display: flex;
        justify-content: center;
    }

    .hide-with-medium {
        display: none;
    }


    .tiles {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        flex-direction: row;
        flex: 0 0 1;
        

        > * {
            padding: calc($spacer/8);
            width: 50%;
        }
    }

    .side.right {
        display: flex;
        justify-content:space-around;
        flex-wrap: nowrap;
        flex-direction: row;
        margin: 0 auto;

        > * {
            flex-grow: 1;
        }

        min-width: 50%;
        max-width: 80%;
    }
}


@media screen and (min-width: $large) {
    .hide-with-large {
        display: none;
    }

    #random_box {        
        display: flex;

        .sticky-medium {
            position: sticky;
            top: 0;
        }

        .side {
        }

        .side.left {
            float: left
        }
    
        .side.right {
            float: right;
            justify-content:space-around;
        }

        .products {
            scroll-snap-type: y proximity;
            
            .product
            //.profile, .nutrition, .ingredients
            {
                scroll-snap-align: start;
            }
        }
    }

    #random_box {
        justify-content: space-around;

        .side.left, .partition {
            //padding: $spacer;
        }

        .side {
            flex: 1 1 1;
        }
        
        .partition, .side.left {
        }

        .partition {
            height: 100vh;
            overflow-y: scroll;
            scrollbar-color: $clr-dark $clr-light;
            scrollbar-width: medium;
        }
    }
}
