<form method="POST" action="/" name="random_box">
<article role="main" class="page" id="random_box">

<div class="side left">
    <div class="tiles">
        <header class="prominent">
            <h1>{{ random_box.name }}</h1>
            <label for="{{ random_box.slug }}_name">{{ voc.box_name }}</label>
            <p>
            <input
                type="text"
                name="name"
                value="{{ random_box.name }}"
                placeholder="{{ random_box.name }}"
            >
            <br>
            {{ voc.describes_itself }}
            <br>
            <label for="{{ random_box.slug }}_description">{{ voc.box_description }}</label>
            <input
                type="text"
                name="{{ random_box.slug }}_description"
                id="{{ random_box.slug }}_description"
                value="{{ random_box.short_description }}"
                placeholder="{{ random_box.short_description }}"
            >.
            </p>
        </header>

        {% if random_box.profile.parameters | length >= 1 %}
        <aside class="profile">
            <h2>{{ voc.box_profile }}</h2>
            <table>
                <thead>
                <tr>
                    <th>{{ voc.parameter }}</th>
                    <th>{{ voc.value }}</th>
                </tr>
                </thead>

                <tbody>
                    {% for parameter in random_box.profile.parameters %}
                        {% if parameter.type == "range" %}
                        <tr class="rel-10-{{ parameter.value_per_10 }}">
                            <td>
                                <label for="{{ parameter.slug }}">
                                    {{ parameter.name }}
                                </label>
                            </td>

                            <td>
                                <input
                                    id="{{ parameter.slug }}"
                                    name="{{ parameter.slug }}"
                                    value="{{ parameter.value }}"
                                    type="range"
                                    step="{{ parameter.step }}"
                                    min="0"
                                    max="10"
                                />
                            </td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </aside>
        {% endif %}

        <aside class="randomize">
            <h2>{{ voc.do_randomize | capitalize }}</h2>
            <p>
            <button
                name="intent[]"
                type="submit"
                value="randomize_all"
                >
                {{ voc.randomize_all }}
            </button>
            {{ voc.or_instead }}
            <br>

            {% if random_box.profile is defined %}
            <label>
                {{ voc.with_profile }}
                <input
                    type="checkbox"
                    name="intent[]"
                    value="randomize_with_box_profile_approx"
                >
            </label>
            {{ voc.and_either_with }}
            <br>
            {% endif %}


            <label>
                <button
                    type="submit"
                    name="intent[]"
                    value="randomize_with_weight_min"
                    >
                        {{ voc.weight_min }}
                </button>
                <input
                    name="weight_min"
                    type="number"
                    size="4"
                    step="{{ random_box.weight.step }}"
                    min="{{ random_box.weight.min }}"
                    max="{{ random_box.weight.max }}"
                    placeholder="{{ random_box.weight.value }}"
                    value="{{ random_box.weight.value }}"
                >
                {{ weight_unit }}
            </label>

            {{ voc.or }}
            <br>

            <label>
                <button
                    type="submit"
                    name="intent[]"
                    value="randomize_with_price_min"
                    >
                    {{ voc.price_min }}
                </button>
                <input
                    name="price_min"
                    type="number"
                    size="4"
                    step="{{ random_box.price.step }}"
                    min="{{ random_box.price.min }}"
                    max="{{ random_box.price.max }}"
                    placeholder="{{ random_box.price.value }}"
                    value="{{ random_box.price.value }}"
                >
                {{ currency_code }}</label>.
            </p>

        </aside>

        <aside class="box-items">
            <h2>{{ voc.box_content }}</h2>
            <button
                type="submit"
                name="intent[]"
                value="recalc_by_bars_amounts"
            >
            {{ voc.recalc_by_bars_amounts }}
            </button>.
        </aside>

        {% if random_box.sharing_allowed %}
        <aside class="share">
            <h2>{{ voc.share }}</h2>
            <p>
                {{ voc.box_per_link }}:
                <br>
                <span class="">
                    <label for="slug_public">
                        {{ random_box.public_url_base }}
                    </label>
                    <input size="10"
                        type="text"
                        id="slug_public"
                        name="slug_public"
                        {% if random_box.slug_public %}
                        value="{{ random_box.slug_public }}"
                        placeholder="{{ random_box.slug_public}}"
                        {% endif %}
                    >.
                </span>
                <br>
                {{ voc.link }}
                {% if random_box.slug_public %}
                    <button id="update_slug_public" type="submit">{{ voc.change_slug_public }}</button>
                    {{ voc.or }} {{ voc.copy_public_url }}:
                    <br>
                    <span class="click-copy">{{ random_box.public_url_base }}{{ random_box.slug_public }}</span>
                {% else %}
                    <button id="create_slug_public" type="submit">{{ voc.create_slug_public }}</button>.
                {% endif %}
            </p>
        </aside>
        {% endif %}


        <aside class="order">
            <h2>{{ voc.order_now | capitalize }}</h2>
            <p>
                {{ voc.add_box_to_cart_and }}
                <br>
                <button
                    type="submit"
                    name="intent[]"
                    value="add_to_cart"
                    >
                    {{ voc.create_new_box }}
                </button>
                {{ voc.or }}
                <br>
                <button
                    type="submit"
                    name="intent[]"
                    value="order"
                >
                {{ voc.begin_order }}
                </button>.
            </p>
        </aside>
    </div>
</div>



{% if random_box.products | length >= 1 %}
<article class="side right partitions">
<h2 class="hide-with-large">{{ random_box.set_name }}</h2>

{% set products_partitions = random_box.products | partition_2 %}
{% set has_multiple_intervals = products_partitions | length >= 2%}

{% for products in products_partitions %}
<aside class="partition products">

{% for product in products %}
<div class="center">
<article class="product">
    <h3>{{ product.manufacturer.name }} {{ product.name }}</h3>
    
    {% if product.selling_unit == "amount" %}
    <label>{{ voc.amount }}
            <input
                name="{{ product.slug }}_amount"
                value="{{ product.amount_in_cart }}"
                type="number"
                size="3"
                step="1"
                min="0"
                max="{{ product.amount_per_order_max }}"
            />
    </label>
    {% endif %}

    {% if product.cover_medium.type == "image" %}
    <picture>
        <img
            src="{{ product.cover_medium.source}}"
            alt="{{ product.cover_medium.name }}"
            loading="lazy"
        >
    </picture>
    {% endif %}

    {% if product.profile.parameters | count >= 1 %}
    <div class="collapse profile">
        <h4>{{ voc.bar_profile }}</h4>
        <table>
            <tr>
                <th>{{ voc.parameter }}</th>
                <th>{{ voc.value }}</th>
            </tr>
            {% for parameter in product.profile.parameters %}

            {% if parameter.type == "range" %}
            <tr class="rel-10-{{ parameter.value_per_10 }}">
                <td>{{ parameter.name }}</td>
                <td>{{ parameter.value }}/{{ parameter.max }}</td>
            </tr>
            {% endif %}

            {% endfor %}
        </table>
    </div>
    {% endif %}

    {% if product.nutritional_values | length >= 1 %}
    <div class="collapse nutrition">
    <h4>{{ voc.nutritional_values }}</h4>
    <table>
        <thead>
            <tr>
                <th>{{ voc.nutritional_value }}</th>
                <th>{{ voc.per_100_g }}</th>
                <th>{{ voc.per }} {{product.item_weight }} {{ weight_unit }} ({{ voc.one_bar }})</th>
            </tr>
        </thead>

        <tbody>
        {% for value in product.nutritional_values %}
        <tr>
            <td>{{ value.name }}</td>
            <td>{{ value.per_100_g }} {{ value.unit }}</td>
            <td>{{ value.per_item }} {{ value.unit }}</td>
        </tr>
        {% endfor %}
        </tbody>

        </table>
    </div>
    {% endif %}

    {% if product.ingredients | length >= 1 %}
    <div class="ingredients">
        <h4>{{ voc.ingredients }}</h4>
        {{ product.ingredients | render_ingredients }}
    </div>
    {% endif %}

    {% if product.media | length >= 1 %}
    <div class="collapse">
        <h4>
            {{ voc.preview }}
        </h4>

        <div class="media">
        {% for medium in product.media %}
            {% if medium.type == "image" %}
            <picture>
                <img
                    src="{{ medium.source}}"
                    alt="{{ medium.name }}"
                    loading="lazy"
                >
            </picture>
            {% endif %}
        {% endfor %}
        </div>
    </div>
    {% endif %}
</article>
</div>
{% endfor %}
</aside>
{% endfor %}

</article>
{% endif %}

</article>
</form>

