<!DOCTYPE html>
<html lang="{{ translation_code }}">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{{ voc.editor }} - {{ site.name }}{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0">
    <meta name="color-scheme" content="dark">
    {% block head %}
    {% endblock head %}
</head>
<body>
{% block body %}
{% endblock body %}
</body>
</html>