{% extends "base.html" %}
{% block body %}
<h1>{{ voc.editor }}</h1>
<nav>
<h2>{{ voc.data_groups }}</h2>
<ul>
    <li><a href="bar">{{ voc.bar }}</a></li>
    <li><a href="products">{{ voc.products }}</a></li>
</ul>
</nav>
{% endblock body %}